/* =Shell Lite Options Page
-------------------------------------------------------------- */
#shell-lite-theme-options-header {
	width: 100%;	
}

/* =Shell Lite Options Saved
-------------------------------------------------------------- */
.updated.fade.shell-lite-options-updated {
	background: #B1EBA9;
	border: 1px solid #7ED173;
}

/* Fix checkbox width in Shell Options page */
.wrap td > input[type=checkbox] {
	width: 15px;
}