/* =Shell Lite Options Page
-------------------------------------------------------------- */
#shell-lite-theme-options-header {
	width: 100%;	
}

/* =Shell Lite Notice Message
-------------------------------------------------------------- */
.shell-lite-theme-notice {
	overflow: hidden;
	padding: 5px 10px;
	background-color: #ffffe0;
	border: 1px solid;
	border-color: #e6db55;
	border-radius: 10px;
}

#shell-lite-notice-dismiss {
	float: right;
}

/* =Shell Lite Options Saved
-------------------------------------------------------------- */
.updated.fade.shell-lite-options-updated {
	background: #B1EBA9;
	border: 1px solid #7ED173;
}

/* Fix checkbox width in Shell Options page */
.wrap td > input[type=checkbox] {
	width: 15px;
}